*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, section, header {
  width: 100%;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Kollektif;
  font-weight: 400;
}
html, section, header {
  width: 100%;
  height: 100vh;
}
